.character-creator-window {
    background: #ffcd85;
}
.character-creator-window-title {
    flex: 1;
    color: white;
    font-family: Chalkboard, serif;
    width: 100%;
    text-align: center;
    font-size: 7vh;
    margin-top: 2vh;
    max-height: 13vh;
}
.character-creator-window-name-container {
    flex: 1;
    width: 100%;
    text-align: center;
    font-size: 5vh;
    max-height: 10vh;
}
.character-creator-window-stats-container {
    flex: 1;
    font-size: 5vh;
    width: 100%;
    margin-top: 2%;
}
.character-creator-window-go-button {
    margin-bottom: 2vh;
    font-size: 5vh;
}
.character-creator-window-name {
    width: 55%;
    font-size: 5vh;
}
.character-creator-window-stats-title {
    font-size: 6vh;
    margin-bottom: 1vh;
    margin-left: 5%;
}
.character-creator-window-stats-metric-container {
    display: flex;
    width: 100%;
}
.character-creator-window-stats-metric {
    flex: 1;
    text-align: center;
}
.character-creator-window-stats-reroll-button {
    text-align: center;
    font-size: 6vh;
    padding-left: 2vh;
    padding-right: 2vh;
    display: block;
}